<div class="sidebar">
  <div class="sidebar-container">
    <a class="sidebar-OpenAndClose">☰</a>
    <a class="sidebar-link" href="/">Ínicio</a>
    <a class="sidebar-link" href="/dashboard">Dashboard detalhado</a>
  </div>

  <script>
    const toggleBtn = document.querySelector(".sidebar-OpenAndClose");
    const sidebar = document.querySelector(".sidebar");

    toggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("closed");

      // Troca o ícone
      if (sidebar.classList.contains("closed")) {
        toggleBtn.textContent = "❯"; // ícone de "abrir"
      } else {
        toggleBtn.textContent = "☰"; // ícone de "menu"
      }
    });
  </script>
</div>
